.auth-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#5f2c82,#49a09d);
    padding:20px;
}

/* Card */

.auth-box{
    width:100%;
    max-width:420px;
    padding:40px;
    border-radius:16px;

    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,0.2);
    box-shadow:0 15px 35px rgba(0,0,0,0.2);
}

/* Title */

.auth-box h2{
    text-align:center;
    margin-bottom:25px;
    color:white;
    font-weight:600;
}

.auth-box input,
.auth-box select{
    width:100%;
    padding:12px 14px;
    margin-bottom:15px;

    border-radius:8px;
    border:1px solid rgba(255,255,255,0.3);

    background:rgba(255,255,255,0.2);
    color:white;
    font-size:14px;

    appearance: none;
}

.auth-box select{
    cursor:pointer;
}

.auth-box option{
    background:transparent;
    
}

.auth-box input::placeholder{
    color:#e0e0e0;
}

.auth-box input:focus{
    outline:none;
    background:rgba(255,255,255,0.3);
}

/* Button */

.auth-btn{
    width:100%;
    padding:12px;

    border:none;
    border-radius:8px;

    background:#ff7a18;
    background:linear-gradient(45deg,#ff7a18,#ffb347);

    color:white;
    font-weight:600;
    font-size:15px;

    cursor:pointer;
    transition:0.3s;
}

.auth-btn:hover{
    transform:translateY(-2px);
    box-shadow:0 6px 15px rgba(0,0,0,0.2);
}

/* Links */

.auth-link{
    text-align:center;
    margin-top:18px;
    color:white;
}

.auth-link a{
    color:#ffd369;
    text-decoration:none;
    font-weight:500;
}

/* Role buttons */

.role-select{
display:flex;
gap:10px;
margin:15px 0;
}

.role-btn{
flex:1;
padding:12px;
border-radius:10px;
border:2px solid rgba(255,255,255,0.3);
background:transparent;
color:white;
cursor:pointer;
font-weight: 500;
transition:0.3s;
}

.role-btn:hover{
background:rgba(255,255,255,0.1);
}

.role-btn.active{
background:linear-gradient(135deg,#ff7a18,#ffb347);
border:none;
color: white;
}

select{
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.1);
    color: white;
    outline: none;
    font-size: 14px;
}

select option{
    color: black;
}

.form-message{
text-align:center;
margin-bottom:15px;
color:#ff4d4f;
font-weight:500;
}

/* Mobile */

@media(max-width:480px){

.auth-box{
padding:30px;
}

}
